<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('partials/_navbar.ejs') %>
  
  <div class="header-container">
    <div class="welcome-title">
      <% if (user) { %>
        <h1>Welcome to TravelBug </h1>
      <% } else { %>
        <h1>Welcome to TravelBug</h1>
      <% } %>
    </div>
    <img src="https://images.unsplash.com/photo-1603808523691-a2f471d415f0?q=80&w=1195&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
  </div>
    
  <div class="container">
    <div class="reviews">
      <p>"A treasure trove of travel inspiration! TravelBug blends vivid storytelling with breathtaking photography, making every article a virtual journey. Perfect for armchair travelers and adventurers alike."</p>
      <p>"Informative, engaging, and beautifully curated! TravelBug captures the essence of each destination with immersive narratives and practical travel tips. A go-to resource for wanderers seeking authentic experiences."</p>
      <p>"Exceptional content! TravelBug not only showcases stunning destinations but also offers insightful guides and firsthand experiences. Navigating the world through their lens is both enriching and addictive."</p>
    </div>
  </div>
  
</body>
</html>
