@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=DM+Serif+Display:ital@0;1&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}


/* /////// FRONT PAGE STUFF /////////////////// */
.carousel-image {
    height: 400px; /* Set the desired height */
    object-fit: cover; /* This ensures the image covers the container */
  }

.detail-link > a {
    text-align: center;
}

/* .travel-icon {
    background-image: url();
    width: 1.4em;
    height: 1.4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px;
    padding-left: 5px;
} */

.header-container {
    position: relative;
    text-align: right;
}

.welcome-title {
    position: absolute;
    margin: 40px 45px;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.welcome-title > h1 {
    text-align: left;
    font-size: 100px;
	font-weight: 900;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8),
                 2px 2px 6px rgba(128, 128, 128, 0.8);
}

/* .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    padding: 10px;
    height: 500px;
} */

.reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-style: italic;
    line-height: 190%;
}

.reviews > p {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* /////// FRONT PAGE STUFF /////////////////// */



/* /////// SIGN UP STUFF /////////////////// */
  .signup-page,
.signin-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.signup-form-container-1,
.signin-form-container-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-form-container-2,
.signin-form-container-2 {
  padding: 10px 30px 20px;
  border: 1px solid gray;
}

.signup-form-container-2 > h1,
.signin-form-container-2 > h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

.signup-form-container-2 > form,
.signin-form-container-2 > form {
  display: flex;
  flex-direction: column;
}

.signup-img {
    background-image: url('https://images.unsplash.com/photo-1516483638261-f4dbaf036963?q=80&w=1586&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    min-height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    position: relative;
}
  
.signin-img {
    background-image: url('https://images.unsplash.com/photo-1516483638261-f4dbaf036963?q=80&w=1586&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    min-height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    position: relative;

}
/* /////// SIGN UP STUFF /////////////////// */



label {
  font-size: 0.9em;
}

input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
}

button {
  border: none;
  font-weight: bold;
  background-color: rgb(191, 220, 203);
  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(164, 194, 176);
}

.edit-post-button {
  border: none;
  font-weight: bold;
  background-color: rgb(191, 220, 203);
  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 8em;
  text-align: center;
}

.edit-post-button > a  {
  color: rgb(0, 0, 0);
}

.search-add {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.new-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    width: 9em;
    height: 2em;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: white;
    margin-bottom: 20px;
}

.new-post-button > a:hover {
    color: #6f8dae;
}

.new-post-button > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}


/* /////// HEADERS //////////////////// */
.index-header {
    margin: 10px 15px;
}

.edit-header {
    margin: 10px 15px;
}

.new-header {
    margin: 10px 15px;
}

.profile-header {
    margin: 10px 15px;
}

.city-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.country-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 15px;
}



.destination-header {
    margin: 10px 15px;
}

.favorites-header {
    margin: 10px 15px;
}
/* /////// HEADERS //////////////////// */




.post-content {
    position: relative;
}

.post-container {
    margin: 10px;
    text-align: center;
    height: 325px;
    position: relative;
    /* background-color: pink; */
}

.post-image-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 9px solid white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.image-collection {
    display: flex;
    justify-content: center;
}



/* //////////////POST PAGE STUFF/////////////// */

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.stay-suggestions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stay-suggestions > h2 {
    margin: 2%;
}

.stay-suggestions form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Space between suggestions and form */
}

.stay-suggestions textarea {
    width: 100%;
    max-width: 400px; /* Limit width of textarea for better readability */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}

.food-suggestions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.food-suggestions > h2 {
    margin: 2%;
}

.food-suggestions form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Space between suggestions and form */
}

.food-suggestions textarea {
    width: 100%;
    max-width: 400px; /* Limit width of textarea for better readability */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}

.tip-suggestions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tip-suggestions > h2 {
    margin: 2%;
}

.tip-suggestions form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Space between suggestions and form */
}

.tip-suggestions textarea {
    width: 100%;
    max-width: 400px; /* Limit width of textarea for better readability */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}

.favourite {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.image-upload {
    display: flex;
    justify-content: center;
    margin: 1%;
}

/* //////////////POST PAGE STUFF/////////////// */







/* .post-text {
    position: absolute;
    color: white; /* Ensure text is readable over the image */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    padding: 5px; */
    /* border-radius: 5px; */
    /* text-align: center;
    width: 80%; */ 
    /* top: 85%; /* Center vertically */
    /* left: 50%; Center horizontally
    transform: translate(-50%, -50%); Offset by half the width and height */
    /* transition: transform 0.6s ease; */
/* } */

.post-text:hover {
    transform: translate(-50%, -50%) scale(1.1);
}



.edit-post {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.new-post {
    display: flex;
    justify-content: center;
    margin: 20px;
}


