@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

 /* FRONT PAGE */
.carousel-image {
    height: 400px;
    object-fit: cover;
}

.detail-link > a {
    text-align: center;
}

.header-container {
    position: relative;
    text-align: right;
}

.welcome-title {
    position: absolute;
    margin: 40px 45px;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Caveat", cursive;
    font-style: normal;
}

.welcome-title > h1 {
    text-align: left;
    font-size: 100px;
	font-weight: 900;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8),
                 2px 2px 6px rgba(128, 128, 128, 0.8);
}

@media (max-width: 850px) {
    .welcome-title > h1 {
        font-size: 70px;
    }
}

@media (max-width: 600px) {
    .welcome-title > h1 {
        font-size: 50px;
    }
}

.reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-style: italic;
    line-height: 190%;
}

.reviews > p {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
/* FRONT PAGE */



/* SIGN UP */
  .signup-page,
.signin-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.signup-form-container-1,
.signin-form-container-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
    .signup-form-container-1,
    .signin-form-container-1 {
        width: 80%;
        margin: 20px 10px;
    }
    .signup-img,
    .signin-img {
        width: 100%;
    }
    .signup-img {
        order: 2;
        margin: 15px 0px 30px 0px;
    }
    .signup-page,
    .signin-page {
        flex-direction: column;
    }
}

.signup-form-container-2,
.signin-form-container-2 {
  padding: 20px 40px 25px;
  border: 1px solid gray;
}

.signup-form-container-2 > h1,
.signin-form-container-2 > h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2em;
}

.signup-form-container-2 > form,
.signin-form-container-2 > form {
  display: flex;
  flex-direction: column;
}

.signup-form-container-2 > form > input {
    width: 90%;
}

.signup-img {
    background-image: url('https://images.unsplash.com/photo-1516483638261-f4dbaf036963?q=80&w=1586&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    min-height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    position: relative;
}
  
.signin-img {
    background-image: url('https://images.unsplash.com/photo-1516483638261-f4dbaf036963?q=80&w=1586&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    min-height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    position: relative;
}

@media (max-width: 950px) {
    .signup-img,
    .signin-img {
        width: 100%;
        margin-top: 25px;
    }
}
/* SIGN UP */


label {
  font-size: 1.1em;
}

input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
}

button {
  border: none;
  font-weight: bold;
  background-color: rgb(191, 220, 203);
  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(164, 194, 176);
}

.update-edit-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-post-button > a {
    border: none;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(191, 220, 203);
    padding: 7px 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    text-decoration: none;
}

.edit-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.edit-post-button,
.edit-post-button > a,
form,
.favourite {
    margin: 0px 10px;
}
.favourite {
    display: flex;
    align-items: center;
}
.favourite button:hover {
    text-decoration: underline;
}
.favourite img {
    margin-right: 5px;
}

.edit-post-button > a:hover {
    background-color: rgb(164, 194, 176);
}

.search-add {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


/* HEADERS */
.index-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", cursive;
    font-style: normal;
}

.index-header > h1 {
    font-size: 60px;
}

.new-post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(191, 220, 203);
  padding: 7px;
  height: 2.5em;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10em;
}

.new-post-button:hover {
    background-color: rgb(164, 194, 176);
}

.new-post-button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.new-post-button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.edit-header {
    margin: 10px 15px;
    font-family: "Caveat", cursive;
    font-style: normal;
}

.new-header > h1,
.edit-header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.new-header {
    margin: 10px 15px;
    font-family: "Caveat", cursive;
    font-style: normal;
}

.profile-header {
    margin: 10px 15px;
    font-family: "Caveat", cursive;
    font-style: normal;
    margin: 10px 45px 0px 0px;
}

.profile-header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.profile-separator {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.city-header > h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    text-decoration: none;
}

.country-header > h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 50px;
}

.post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    font-family: "Caveat", cursive;
    font-style: normal;
}

@media (max-width: 850px) {
    .city-header > h1 {
        font-size: 50px;
    }
    .country-header > h2 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .city-header > h1 {
        font-size: 40px; 
    }
    .country-header > h2 {
        font-size: 30px;
    }
}

.post-header > img {
    margin-bottom: 10px;
}

.destination-header {
    display: flex;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-style: normal;
}

.destination-header > h2 {
    font-size: 50px;
}

.favorites-header {
    display: flex;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-style: normal;
}

.favorites-header > h2 {
    margin-left: 15px;
    font-size: 50px;
}

.favorites-header > p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}
/* HEADERS */


/* MAIN PAGE */
.post-content {
    position: relative;
    text-decoration: none;
}

.post-container {
    background-color: white;
    padding: 15px;
    height: 545px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration-style: none;
}

.post-container > a {
    color: solid white;
}

.row {
    margin: 2%;
    text-decoration: none;
}

.post-image-container {
    position: relative;
    width: 100%;
    height: 425px;
    margin-bottom: 10px;
    text-decoration: none;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.image-collection {
    display: flex;
    justify-content: center;
}

.image-collection > img {
    margin: 5px;
}

@media (max-width: 850px) {
    .image-collection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }

    .image-collection > img {
        max-width: 100%;
        width: auto; 
    }

    @media (max-width: 850px) and (max-width: 500px) {
        .image-collection > img {
            width: 100%;
            height: auto;
        }
    }
}

.post-text {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    font-family: "Caveat", cursive;
    font-style: normal;
}

.post-text:hover {
    color: #465f79;
}

.post-text > h4 {
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 200%;
}

.post-text > p {
    font-size: 150%;
    text-decoration: none;
}
/* MAIN PAGE */


/* POST PAGE */
.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.tip-suggestions,
.food-suggestions,
.stay-suggestions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tip-suggestions > h2,
.food-suggestions > h2,
.stay-suggestions > h2 {
    margin: 2%;
    text-align: center;
}

.tip-suggestions > h5,
.food-suggestions > h5,
.stay-suggestions > h5 {
    margin: 2% 5%;
    text-align: center;
}

.tip-suggestions form, 
.food-suggestions form, 
.stay-suggestions form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.stay-suggestions textarea,
.tip-suggestions textarea,
.food-suggestions textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}

.favourite {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.new-post,
.edit-post {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.nav-item {
    font-size: 25px;
}

.update-button {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .stay-suggestions > h2,
    .tip-suggestions > h2,
    .food-suggestions > h2 {
        font-size: 22px;
        margin-top: 10px;
    }
    .stay-suggestions > h5,
    .tip-suggestions > h5,
    .food-suggestions > h5 {
        font-size: 16px;
        margin-top: 10px;
        word-wrap: break-word;
        width: 90%;
    }
    .stay-suggestions form,
    .tip-suggestions form,
    .food-suggestions form {
        margin: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stay-suggestions textarea,
    .tip-suggestions textarea,
    .food-suggestions textarea {
        width: 90%;
        max-width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-bottom: 10px;
        word-wrap: break-word;
    }
    .edit-delete-container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .image-upload > form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px 0; 
    }

    .index-header {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-top: 0%;
    }

    .index-header > h1,
    .edit-header > h1 {
        font-size: 40px;
    }
    .nav-item {
        font-size: 18px;
    }
    
    .new-post-button {
        flex-direction: column;
        justify-content: center;
       
    }
}

.post-container > a {
    text-decoration: none;
}


