<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Post</h1>
    <form action="/posts" enctype="multipart/form-data" method="post">
        <label>
            City:
            <input name="city" required>
        </label>
        <label>
            Country:
            <input name="country" required>
        </label>
        <label>
            Accommodation:
            <input name="accommodation">
        </label>
        <label>
            Food:
            <input name="food">
        </label>

        <label>
            Image:
            <input type="file" name="image">
        </label>

        <button>Add Post</button>
    </form>
</body>
</html>