<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The post</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= post.city %></h1>
    <form 
        action="/users/<%= user._id %>/posts/<%= post._id %>?_method=DELETE" method="post">
        <button>Delete Post</button>
    </form>
</body>
</html>